{% import _self as macros %}
{% macro renderNode(node, classes) %}
    {% import _self as macros %}
    {% if node.type == 'heading' %}
        <h3>{{ node.name }}</h3>
    {% else %}
    <li class="{% if node.classes|length %}{{ node.classes }}{% endif %}{% if classes.listClass is defined %}{{ classes.listClass }}{% endif %}">
        <a  href="{{ node.url }}"
            {% if classes.linkClass is defined or node.active %}
                class="{% if classes.linkClass is defined %}{{ classes.linkClass }}{% endif %} {% if node.active %}active{% endif %}"
            {% endif %}
            {% if node.blank %}target="_blank" rel="noopener"{% endif %}
        >{{ node.name }}</a>
        {{ macros.navChildren(node) }}
    </li>
    {% endif %}
    {% if node.type == 'heading' %}
        {{ macros.navChildren(node) }}
    {% endif %}
{% endmacro %}

{% macro navChildren(node) %}
    {% set children = node.children %}
    {% if children|length %}
        <ul>
            {% for child in children %}
                {{ macros.renderNode(child) }}
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

<div {% if classes.wrapperClass is defined %}class="{{ classes.wrapperClass }}"{% endif %}>
    <ul {% if classes.ulClass is defined %}class="{{ classes.ulClass }}"{% endif %}>
        {% for node in nodes %}
            {{ macros.renderNode(node, classes) }}
        {% endfor %}
    </ul>
</div>

