{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Navigate plugin for Craft CMS 3.x
 *
 * Navigate index.twig
 *
 * @author    Studio Espresso
 * @copyright Copyright (c) 2018 Studio Espresso
 * @link      https://studioespresso.co
 * @package   Navigate
 * @since     0.0.1
 */
#}

{% extends "_layouts/cp" %}
{% import _self as macro %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("studioespresso\\navigate\\assetbundles\\navigate\\NavigateAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/studioespresso/navigate/blob/master/README.md" %}

{# The title of this CP section #}
{% set pluginTitle = 'Navigate' %}
{% set title = navigation.title is defined ? navigation.title : 'New navigation' %}

{% set fullPageForm = true %}

{% set crumbs = [
    { label: pluginTitle, url: url('navigate') },
    { label: 'Edit', url: '#' }
]
%}

{% block header %}
    {% block pageTitle %}
        {% if title is defined and title|length %}
            <h1>{{ title }}</h1>
        {% endif %}
        <input type="hidden" name="action" value="navigate/nodes/save">
        {{ redirectInput('navigate') }}
    {% endblock %}
    {% block contextMenu %}{% endblock %}
    <div class="flex-grow"></div>
    {% block actionButton %}
        {% if fullPageForm %}
            <input type="submit" class="btn submit" value="{{ 'Save navigation'|t('navigate') }}">
        {% endif %}
    {% endblock %}
{% endblock %}


{% macro addNodeToStructure(navigation, node) %}
    <li data-level="">
        {% set replaceWith = {
            '%%id%%':           node.id,
            '%%label%%':        node.name,
            '%%type%%':         (node.elementType ? node.elementType : 'manual'),
            '%%url%%':          '',
            '%%status%%':       (node.enabled ? 'live' : 'expired'),
        } %}
        <div class="row">
            {% include 'navigate/_includes/_node' with { replaceWith: replaceWith, navigation: navigation } only %}
        </div>
    </li>
{% endmacro %}

{# The content of the CP Section#}
{% block content %}
<div id="navigate-nodes-input">
    {% if not nodes|length %}
        <div class="navigate__empty">
        <p>{{ 'Use to buttons below to start adding items to your navigation'|t('navigate') }}</p>
        </div>
    {% endif%}
    <div class="blocks">
        <input type="hidden" name="data[navId]" value="{{ navigation.id }}">
        <ul id="navigate__nav" class="navigate__nav structure">
            {% for node in nodes %}
                {{ macro.addNodeToStructure(navigation, node) }}
            {% endfor %}
        </ul>
    </div>

    <div class="buttons">
        <div class="btngroup" id="navigate-nodeTypes">
            {% for nodeType in nodeTypes %}
                <div class="btn{% if loop.first %} add icon{% endif %}" data-type="{{ nodeType.handle }}">{{ nodeType.title|t('navigate') }}</div>
            {% endfor %}
        </div>
    </div>
    <script id="navigate__node" type="text/template">
        {% set replaceWith = {} %}
        <div class="node__node element" data-id="{{ '%%id%%'|replace(replaceWith) }}" data-label="{{ '%%label%%'|replace(replaceWith) }}">
            <div class="label">
                <span class="status {{ '%%status%%'|replace(replaceWith) }}"></span>
                <input type="hidden" name="data[nodes][{{ '%%id%%'|replace(replaceWith) }}][navId]" value="{{ navigation.id }}">
                <input type="hidden" name="data[nodes][{{ '%%id%%'|replace(replaceWith) }}][type]" value="{{ '%%type%%'|replace(replaceWith) }}">
                <input type="hidden" name="data[nodes][{{ '%%id%%'|replace(replaceWith) }}][elementType]" value="{{ '%%elementType%%'|replace(replaceWith) }}">
                <input type="hidden" name="data[nodes][{{ '%%id%%'|replace(replaceWith) }}][elementId]" value="{{ '%%elementId%%'|replace(replaceWith) }}">
                <span class="title">{{ '%%label%%'|replace(replaceWith) }}</span>
                <input type="hidden" name="data[nodes][{{ '%%id%%'|replace(replaceWith) }}][name]" value="{{ '%%label%%'|replace(replaceWith) }}">
                <a href="{{ '%%url%%'|replace(replaceWith) }}"  data-icon="world" target="_blank" title="{{ '%%label%%'|replace(replaceWith) }}" rel="nofollow"></a>
            </div>
        </div>

    </script>
</div>

{% endblock %}



{% block details %}
    <div id="details">
        <div id="settings" class="meta">

            <div class="field" id="slug-field">
                <div class="heading">
                    <label id="handle-label" for="handle">Handle</label>
                </div>
                <div class="input ltr">
                    <input class="text fullwidth" disabled="disabled" type="text" id="handle" name="handle" value="{{ navigation.handle }}" autocomplete="off">
                </div>
            </div>

        </div>
    </div>
{% endblock %}