{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Navigate plugin for Craft CMS 3.x
 *
 * Navigate index.twig
 *
 * @author    Studio Espresso
 * @copyright Copyright (c) 2018 Studio Espresso
 * @link      https://studioespresso.co
 * @package   Navigate
 * @since     0.0.1
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% import "navigate/_includes/_node" as macro %}

{% do view.registerAssetBundle("studioespresso\\navigate\\assetbundles\\navigate\\NavigateAsset") %}

{# The title of this CP section #}
{% set pluginTitle = 'Navigate' %}
{% set title = navigation.title is defined ? navigation.title : 'New navigation' %}

{% set crumbs = [
    { label: pluginTitle, url: url('navigate') },
    { label: 'Edit', url: '#' }
] %}

{% block header %}
    {% block pageTitle %}
        {% if title is defined and title|length %}
            <h1>{{ title }}</h1>
        {% endif %}
    {% endblock %}
    {% block contextMenu %}
        {% include 'navigate/_includes/_sites' %}
    {% endblock %}
    <div class="flex-grow"></div>
{% endblock %}

{# The content of the CP Section#}
{% block content %}
    <div id="navigate-nodes-input">
        {% if not nodes|length %}
            <div class="navigate__empty">
                <p>{{ 'Use to buttons below to start adding items to your navigation'|t('navigate') }}</p>
            </div>
        {% endif %}
        <div class="blocks">
            <ul id="navigate__nav" class="navigate__nav structure">
                {% set level = 1 %}
                {% for node in nodes %}
                    {{ macro.renderNode(navigation, node, level) }}
                {% endfor %}
            </ul>
        </div>

        <div class="buttons">
            <div class="btngroup" id="navigate-nodeTypes">
                {% for nodeType in nodeTypes %}
                    <div class="btn{% if loop.first %} add icon{% endif %}"
                         data-type="{{ nodeType.handle }}">{{ nodeType.title|t('navigate') }}</div>
                {% endfor %}
            </div>
        </div>
        {% include 'navigate/_includes/_node_template' %}
        {% include 'navigate/_includes/_url' %}
        {% include 'navigate/_includes/_heading' %}
    </div>

{% endblock %}

{% block details %}
    <div id="settings" class="meta">
        <div class="field" id="slug-field">
            <div class="heading">
                <label id="handle-label" for="handle">{{ 'Handle'|t('navigate') }}</label>
            </div>
            <div class="input ltr">
                <span>{{ navigation.handle }}</span>

            </div>
        </div>
        <div class="field" id="slug-field">
            <div class="heading">
                <label id="handle-label" for="handle">{{ "Maximum levels"|t('navigate') }}</label>
            </div>
            <div class="input ltr">
                <span>{{ navigation.levels }}</span>
            </div>
        </div>
    </div>
{% endblock %}