{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Navigate plugin for Craft CMS 3.x
 *
 * Navigate index.twig
 *
 * @author    Studio Espresso
 * @copyright Copyright (c) 2018 Studio Espresso
 * @link      https://studioespresso.co
 * @package   Navigate
 * @since     0.0.1
 */
#}

{% extends "_layouts/cp" %}
{% import _self as macro %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("studioespresso\\navigate\\assetbundles\\navigate\\NavigateAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/studioespresso/navigate/blob/master/README.md" %}

{# The title of this CP section #}
{% set pluginTitle = 'Navigate' %}
{% set title = navigation.title is defined ? navigation.title : 'New navigation' %}

{% set fullPageForm = true %}

{% set crumbs = [
    { label: pluginTitle, url: url('navigate') },
    { label: 'Edit', url: '#' }
]
%}

{% block header %}
    {% block pageTitle %}
        {% if title is defined and title|length %}
            <h1>{{ title }}</h1>
        {% endif %}
        <input type="hidden" name="action" value="navigate/nodes/save">
        {{ redirectInput('navigate') }}
    {% endblock %}
    {% block contextMenu %}
        {% include 'navigate/_includes/_sites' %}
    {% endblock %}
    <div class="flex-grow"></div>
    {% block actionButton %}
        {% if fullPageForm %}
            <input type="submit" class="btn submit" value="{{ 'Save navigation'|t('navigate') }}">
        {% endif %}
    {% endblock %}
{% endblock %}


{# The content of the CP Section#}
{% block content %}
<div id="navigate-nodes-input">
    {% if not nodes|length %}
        <div class="navigate__empty">
        <p>{{ 'Use to buttons below to start adding items to your navigation'|t('navigate') }}</p>
        </div>
    {% endif%}
    <div class="blocks">
        <input type="hidden" name="data[navId]" value="{{ navigation.id }}">
        <input type="hidden" name="data[siteId]" value="{{ site.id }}">
        <ul id="navigate__nav" class="navigate__nav structure">
            {% for node in nodes %}
                <li data-id="{{ loop.index }}" data-level="1">
                    <div class="node__node row" data-id="{{ node.id }}" data-label="{{ node.name }}">
                        <span class="status {{ node.enabled ? 'on': 'off'}}"></span>
                        <input type="hidden" name="data[nodes][{{ node.id }}][navId]" value="{{ navigation.id }}">
                        <input type="hidden" name="data[nodes][{{ node.id }}][siteId]" value="{{ site.id}}">
                        <input type="hidden" name="data[nodes][{{ node.id }}][id]" value="{{ node.id }}">
                        <input type="hidden" name="data[nodes][{{ node.id }}][enabled]" value="{{ node.enabled }}">
                        <input type="hidden" name="data[nodes][{{ node.id }}][type]" value="{{ node.type }}">
                        <input type="hidden" name="data[nodes][{{ node.id }}][elementType]" value="{{ node.elementType }}">
                        <input type="hidden" name="data[nodes][{{ node.id }}][elementId]" value="{{ node.elementId }}">
                        <input type="hidden" name="data[nodes][{{ node.id }}][order]" id="order" value="{{ node.order|length ? node.order : loop.index }}">
                        <span class="title">{{ node.name }}</span>
                        <input type="hidden" name="data[nodes][{{ node.id }}][name]" value="{{ node.name }}">
                        <a href="{{ actionUrl('navigate/nodes/url', { id: node.id}) }}" data-icon="world" target="_blank" title="{{ node.name }}" rel="nofollow"></a>
                        <a data-icon="remove" class="delete" role="button"></a>
                        <a class="move icon" title="Move"></a>

                        <div class="node__type">
                            <span class="node__type--entry">{{ node.type }}</span>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="buttons">
        <div class="btngroup" id="navigate-nodeTypes">
            {% for nodeType in nodeTypes %}
                <div class="btn{% if loop.first %} add icon{% endif %}" data-type="{{ nodeType.handle }}">{{ nodeType.title|t('navigate') }}</div>
            {% endfor %}
        </div>
    </div>
    <script id="navigate__node" type="text/template">
        {% set replaceWith = {} %}
        <div class="node__node" data-id="{{ '%%id%%'|replace(replaceWith) }}" data-label="{{ '%%label%%'|replace(replaceWith) }}">
            <span class="status {{ '%%status%%'|replace(replaceWith) }}"></span>
            <input type="hidden" name="data[nodes][{{ '%%count%%'|replace(replaceWith) }}][enabled]" value="1">
            <input type="hidden" name="data[nodes][{{ '%%count%%'|replace(replaceWith) }}][navId]" value="{{ navigation.id }}">
            <input type="hidden" name="data[nodes][{{ '%%count%%'|replace(replaceWith) }}][siteId]" value="{{ '%%siteId%%'|replace(replaceWith) }}">
            <input type="hidden" name="data[nodes][{{ '%%count%%'|replace(replaceWith) }}][type]" value="{{ '%%type%%'|replace(replaceWith) }}">
            <input type="hidden" name="data[nodes][{{ '%%count%%'|replace(replaceWith) }}][elementType]" value="{{ '%%elementType%%'|replace(replaceWith) }}">
            <input type="hidden" name="data[nodes][{{ '%%count%%'|replace(replaceWith) }}][elementId]" value="{{ '%%elementId%%'|replace(replaceWith) }}">
            <input type="hidden" name="data[nodes][{{ '%%count%%'|replace(replaceWith) }}][url]" value="{{ '%%url%%'|replace(replaceWith) }}">
            <span class="title">{{ '%%label%%'|replace(replaceWith) }}</span>
            <input type="hidden" name="data[nodes][{{ '%%count%%'|replace(replaceWith) }}][name]" value="{{ '%%label%%'|replace(replaceWith) }}">
            <a href="{{ '%%url%%'|replace(replaceWith) }}"  data-icon="world" target="_blank" title="{{ '%%label%%'|replace(replaceWith) }}" rel="nofollow"></a>
            <a data-icon="remove" class="delete" role="button"></a>
            <div class="node__type">
                <span class="node__type--entry">{{ '%%type%%'|replace(replaceWith) }}</span>
            </div>
        </div>

    </script>
    <script id="node__url" type="text/template">
        <div class="body">
            <div class="field" id="node__url-name">
                <div class="heading">
                    <label class="required" for="name">{{ 'Name' }}</label>
                </div>
                <div class="input ltr">
                    <input class="text node-name fullwidth" type="text" id="name" autocomplete="off">
                </div>
            </div>

            <div class="field" id="node__url-url">
                <div class="heading">
                    <label class="required" for="url">{{ 'URL' }}</label>
                </div>
                <div class="input ltr">
                    <input class="text node-url fullwidth" type="text" id="url" name="url" autocomplete="off">
                </div>
            </div>

        </div>
        <footer class="footer">
            <div class="buttons right">
                <input type="button" class="btn cancel" value="{{ 'Cancel'|t('app') }}">
                <input type="submit" class="btn submit" value="{{ 'Add'|t('app') }}">
            </div>
        </footer>
        <div class="spinner" style="display: none;"></div>
    </script>

</div>

{% endblock %}



{% block details %}
    <div id="details">
        <div id="settings" class="meta">

            <div class="field" id="slug-field">
                <div class="heading">
                    <label id="handle-label" for="handle">Handle</label>
                </div>
                <div class="input ltr">
                    <input class="text fullwidth" disabled="disabled" type="text" id="handle" name="handle" value="{{ navigation.handle }}" autocomplete="off">
                </div>
            </div>

        </div>
    </div>
{% endblock %}