{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Navigate plugin for Craft CMS 3.x
 *
 * Navigate index.twig
 *
 * @author    Studio Espresso
 * @copyright Copyright (c) 2018 Studio Espresso
 * @link      https://studioespresso.dev
 * @package   Navigate
 * @since     0.0.1
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{# The title of this CP section #}
{% set title = settings.pluginLabel %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% block actionButton %}
    {% if craft.app.config.general.allowAdminChanges %}
        <a href="{{ url('navigate/add') }}" class="btn submit add icon">{{ 'New navigation'|t('navigate') }}</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="navigate-vue-admin-table"></div>
{% endblock %}

{% set tableData = [] %}
{% for nav in navigations %}
    {% set tableData = tableData|merge([{
        id: nav.id,
        title: nav.title|t('site'),
        url: url('navigate/edit/' ~ nav.id),
        handle: nav.handle,
        menu: {
            showItems: false,
            menuBtnTitle: 'Settings'|t('app'),
            label: 'Edit settings',
            url: url('navigate/settings/' ~ nav.id)
        },
    }]) %}
{% endfor %}
{% set actions = [] %}
{% set columns = [
    { name: '__slot:title', title: "Name" },
    { name: '__slot:handle', title: "Handle" },
] %}

{% if craft.app.config.general.allowAdminChanges %}
    {% set columns = columns|merge([
        { name: '__slot:menu', title: "Settings" }
    ]) %}

{#    {% set actions = [#}
{#        { label: "Duplicate", action: 'controller/delete' },#}
{#    ] %}#}

{% endif %}

{% js %}
    new Craft.VueAdminTable({
        container: '#navigate-vue-admin-table',
        columns: {{ columns|json_encode|raw }},
        tableData: {{ tableData|json_encode|raw }},
        deleteAction: 'navigate/default/delete',
        deleteConfirmationMessage: Craft.t('app', "Are you sure you want to delete “{name}” and all its included items?"),
        deleteSuccessMessage: Craft.t('navigate', "“{name}” deleted"),
        emptyMessage: Craft.t('app', 'No navigations exist yet.'),
        checkboxes: {{ craft.app.config.general.allowAdminChanges ? 1 : 0 }},
        allowMultipleSelections: false,
        actions: {{ actions|json_encode|raw }},
    });
{% endjs %}

