{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Navigate plugin for Craft CMS 3.x
 *
 * Navigate index.twig
 *
 * @author    Studio Espresso
 * @copyright Copyright (c) 2018 Studio Espresso
 * @link      https://studioespresso.co
 * @package   Navigate
 * @since     0.0.1
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/studioespresso/navigate/blob/master/README.md" %}

{# The title of this CP section #}
{% set pluginTitle = 'Navigate' %}
{% set title = navigation.title is defined ? navigation.title : 'New navigation' %}

{% set crumbs = [
    { label: pluginTitle, url: url('navigate') },
    { label: 'Settings', url: '#' }
]
%}

{# The content of the CP Section#}
{% block content %}
    <form method="post" data-saveshortcut data-confirm-unload action="https://craft3.local/index.php?p=admin/actions/navigate/default/save">
        {{ csrfInput() }}
        {{ redirectInput('navigate') }}
        {% if navigation is defined %}
            <input type="hidden" name="id" value="{{ navigation.id }}">
        {% endif %}
        <div class="field" id="name-field">
            <div class="heading">
                <label id="name-label" class="required" for="title">{{ 'Title'|t('navigate') }}</label>
                <div class="instructions"><p>{{ 'What this field will be called in the CP.'|t('navigate') }}</p>
                </div>
            </div>
            <div class="input ltr">
                <input class="text fullwidth" type="text" id="title" name="title" {% if navigation is defined %}value="{{ navigation.title }}"{% endif %} autofocus="" autocomplete="off">
            </div>
        </div>
        <div class="field" id="handle-field">
            <div class="heading">
                <label id="handle-label" class="required" for="handle">{{ 'Handle'|t('navigate') }}</label>
                <div class="instructions"><p>{{ 'How you’ll refer to this field in the templates.'|t('navigate') }}</p>
                </div>
            </div>
            <div class="input ltr">
                <input class="text code fullwidth" type="text" id="handle" name="handle" {% if navigation is defined %}value="{{ navigation.handle }}"{% endif %} maxlength="64" autocomplete="off">
            </div>
        </div>

        {{ forms.checkboxSelectField({
            label: 'Available Sources'|t('navigate'),
            instructions: 'Select the types of links would you like to be available in this navigation'|t('navigate'),
            id: 'allowedSources',
            name: 'allowedSources',
            options: sources,
            values: navigation.allowedSources,
            showAllOption: true,
        }) }}

        {{ forms.selectField({
            label: 'Default link type'|t('navigate'),
            instructions: 'Select the default link type.'|t('navigate'),
            id: 'defaultNodeType',
            name: 'defaultNodeType',
            options: sources,
            value: (navigation is defined ? navigation.defaultNodeType : ''),
        }) }}

        <input type="submit" class="btn submit" value="{{ 'Save'|t }}">

    </form>

{% endblock %}
