{% import "_includes/forms" as forms %}

<script id="node__url" type="text/template">
    <div class="body">
        <div class="field" id="node__url-name">
            <div class="heading">
                <label class="required" for="name">{{ 'Name'|t('navigate') }}</label>
            </div>
            <div class="input ltr">
                <input class="text node-name fullwidth" type="text" id="name" autocomplete="off" autofocus="autofocus">
            </div>
        </div>
        <div class="field" id="node__url-url">
            <div class="heading">
                <label class="required" for="url">{{ 'URL'|t('navigate') }}</label>
            </div>
            <div class="input ltr">
                <input class="text node-url fullwidth" type="text" id="url" name="url" autocomplete="off">
            </div>
        </div>
        {{ forms.lightswitchField({
            id:           'blank',
            name:         'blank',
            label:        'Open in a new window'|t('navigate'),
        }) }}

        {{ forms.textField({
            id: 'lasses',
            name: 'classes',
            label: "Classes"|t('navigate'),
            instructions: "These css classes will be applied to this node's list item"|t('navigate'),
        }) }}
    </div>
    <footer class="footer">
        <div class="buttons right">
            <input type="button" class="btn cancel" value="{{ 'Cancel'|t('navigate') }}">
            <input type="submit" class="btn submit" value="{{ 'Add'|t('navigate') }}">
        </div>
    </footer>
    <div class="spinner" style="display: none;"></div>
</script>